
        body{
            background-color: #bec3be;
            margin: 20%;

        }
        #title{
            text-align: center;
            text-shadow: 5px 5px 10px white;
            font-size: 7vh;
        }
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        #tribute-data{
            background-color: rgb(46, 139, 87 , 0.25);
            box-shadow: 20px 20px 20px #bec3be;
            font-family: Georgia;
            padding: 20px 20px;
            margin: 11px;
            margin-top: 50px;

        }
        h1.title-a{
            font-size: 35px;
            color: white;
            text-align: center;
            text-shadow: 5px 5px 10px black;
        }
        #tribute-link{
            text-decoration: none;
            color: black;
        }
